# Python
venv/
__pycache__/
*.pyc

# Raw datasets
*.parquet
*.xlsx

# Generated processed datasets
data/processed/

# Compiled C++ binaries
bin/

# macOS
.DS_Store

# VS Code
.vscode/

# Temporary/generated local files
compile_error.txt
customer_features.csv

# Temporary/generated local files
compile_error.txt
customer_features.csv
